html {
	height: 100%;
}

body {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-direction: column;
}

#canvasDiv {
	padding: 3em;
}

#canvas {
	box-shadow: 0 0 1em rgba(0, 0, 0, .75);
}

.btn {
	border-width: 0;
	box-shadow: 0 .1em .4em rgba(0, 0, 0, .75);
	background-color: #3D85C6;
	color: #ffffff;
}

.btn span {
	display: block;
	padding: 1em 2em
}

@keyframes winning {
		from {
			transform: scale(1,1);
		}
		to {
			transform: scale(2,2);
		}
}

#winner {
	height: 1em;
	font-size: 1em;
	padding: 1.5em;
	animation: winning 1s 200ms alternate infinite;
}

#credit {
	display: flex;
	align-items: flex-end;
}
